{% extends "base.html" %}

{% block content %}
<script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
<script src="{{ url_for('static', filename='code_page.js') }}"></script>

<h1 class="text-white" style="text-align: center; margin-bottom: 80px; margin-top: 10px">Быстрый запуск кода</h1>
<form method="POST" id='main_form' enctype="multipart/form-data" data-bs-theme="dark"
      class="code-form text-white bd-example">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <div class="container">
        <div class="row margin_mobile">
            <div class="col-sm-6">
                <h4 style="text-align: center">Код на гадюке</h4>
                {{ form.code(class="form-control inputcode", id="code_input") }}
                {% for error in form.code.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
            </div>
            <div class="col-sm-6" style="max-height: 500px; overflow: auto">
                <h4 style="text-align: center">Результат</h4>
                <div class="output"><a id="output" style="white-space: pre">...</a></div>

                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-bs-interval="false"
                     style="height: 400px">
                <div class="carousel-inner" id="output_imgs">
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
                </div>
            </div>
        </div>
            <div class="row margin_mobile supermargin_mobile photos_load" style="margin-top: -50px">
            <div class="col-sm-4">
                <input accept="image/jpeg, image/png, image/gif," class="form-control form-control-lg inputimg"
                       id="images_code" multiple="multiple" name="files[]" type="file" onchange="changedInput()"/>
            </div>
            <div class="col-sm-2 margin_mobile">
                <input id='run_code_btn' class="btn btn-success btn-lg btn-block" value="Запустить"
                        onclick="run()"
                        style="text-decoration: none;width: 100%">
            </div>
            </div>
            <div class="row margin_mobile supermargin_mobile photos_load">
                <div class="col-sm-6" style="max-height: 200px; overflow: auto; padding: 20px">
                    <div id="preview-parent">
                    </div>
                    <script>loadPreview()</script>
                </div>
            </div>
        </div>
        {{ message }}
</form>
{% endblock %}