{% extends "base.html" %}

{% block content %}
<script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
<script src="{{ url_for('static', filename='code_page.js') }}"></script>


<form method="POST" id='main_form' enctype="multipart/form-data" data-bs-theme="dark"
      class="code-form text-white bd-example">
      <div class="container row row-cols-auto g-3 justify-content-center" id="project-data-line">
          <div class="col">{{ form.name(class="text-white input-title",  maxlength="30") }}</div>
          <div class="col"><label role="button" for="thumb_inp" class="custom-file-upload btn btn-secondary btn-lg btn-block">
              <span>Загрузить иконку проекта</span>
          </label></div>
          {{ form.images(class="form-control form-control-lg inputimg", accept="image/jpeg, image/png, image/gif,", id='thumb_inp') }}
          <div class="col-4-auto ms-auto">{{ form.submit(type="submit", class="btn btn-success btn-lg btn-block", id="save-btn") }}</div>
          <div class="col"><button type="submit" class="btn btn-secondary btn-lg btn-block"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
            </svg></button></div>
          </div>
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <div class="container">
        <div class="row margin_mobile">
            <div class="col-sm-6">
                <h4 style="text-align: center">Код на гадюке</h4>
                {{ form.code(class="form-control inputcode", id="code_input") }}
                {% for error in form.code.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
            </div>
            <div class="col-sm-6 supermargin_mobile" style="max-height: 500px; overflow: auto">
                <h4 style="text-align: center">Результат</h4>
                <div class="output"><a id="output" style="white-space: pre-line">...</a></div>

                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-bs-interval="false"
                     style="height: 400px">
                <div class="carousel-inner" id="output_imgs">
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
                </div>
            </div>
        </div>
            <div class="row margin_mobile supermargin_mobile photos_load" style="margin-top: -50px">
            <div class="col-sm-4">
                <input accept="image/jpeg, image/png, image/jpg," class="form-control form-control-lg inputimg"
                       id="images_code" multiple="multiple" name="files[]" type="file" onchange="changedInput()"/>
            </div>
            <div class="col-sm-2 margin_mobile">
                <input id='run_code_btn' class="btn btn-success btn-lg btn-block" value="Запустить"
                        onclick="run()"
                        style="text-decoration: none;width: 100%">
            </div>
            </div>
            <div class="row margin_mobile supermargin_mobile photos_load">
                <div class="col-sm-6" style="max-height: 200px; overflow: auto; padding: 20px">
                    <div id="preview-parent">
                    </div>
                    <script>loadPreview()</script>
                </div>
            </div>
        </div>
        {{ message }}
</form>
{% endblock %}
