{% extends "base.html" %}

{% block content %}

<h1 class="text-white" style="text-align: center; margin-bottom: 80px; margin-top: 10px">Профиль {{user_page_name}}</h1>
{% if current_user.username == user_page_name and current_user.is_authenticated%}
  <div class="row d-flex justify-content-center">
      <a href="/create_project" type="button" class="btn btn-success btn-lg" style="width: 40%">Создать новый проект</a>
      <a href="/run_code" type="button" class="btn btn-success btn-lg" style="width: 40%; margin-left: 5%">Запустить код</a>
  </div>
{% endif %}

<div class="row row-cols-auto g-3 d-flex justify-content-center" style="margin: 0;">
  {% for proj in projects %}
    <a href="/projects/{{proj.id}}" class="link-light" style="text-decoration: none">
      <div class="col">
        <div class="card bg-secondary" style="width: 12rem;height: 13rem;background-color: #5e676f!important">
          <img src="data:image/png;base64,{{proj.img}}" class="card-img-top img-fluid"
              style="max-width: 100%;max-height: 60%; object-fit: contain; margin-top: 10%" alt="">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center">{{proj.name}}</h5>
          </div>
        </div>
      </div>
    </a>
  {% endfor %}
</div>
{% endblock %}