[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
SQLAlchemy = "*"
Flask = "*"
flask-restful = "*"
sqlalchemy-serializer = "*"

[requires]
python_version = "3.9"