.dropdown-toggle {background: #146c43; border-color:#146c43}
.dropdown-toggle:hover {background: #105636; border-color:#105636}
.dropdown-toggle:focus {background: #105636; border-color:#105636}
.dropdown-item:focus {background: DimGray; color:white;}


/*.scroll-snap::-webkit-scrollbar {*/
/*      width: 0;*/
/*      height: 0;*/
/*}*/

header {
    position: sticky;
    top: 0;
    z-index: 2;
}

:root {
  --scrollbar-size: 10px;
}

::-webkit-scrollbar {
    left: 50px;
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #454b50;
    border-radius: 10px;
    left: 50px;
    direction: ltr;
}

::-webkit-scrollbar-corner {
    background: transparent;
    width: 0;
    height: 0;
    border: 16px solid transparent;
}

/*form.code-form {*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    max-width: 450px;*/
/*    border: 1px solid gray;*/
/*    border-radius: 5px;*/
/*    padding: 10px;*/
/*    */
/*}*/


.index-section {
    scroll-snap-align: center none;
    scroll-snap-stop: always;
    scroll-margin: 40px;
    height: 90vh;
    margin-bottom: 5vh;
}


.description-block p {
    text-align: left;
    min-width: 30vw;
}

@media (max-width: 570px) {
        .description-block p {
            text-align: center;
            min-width: 60vw;
        }
        .description-block h1 {
            text-align: center;

        }

        .gaduka_img_index {
            height: auto;
            width: 60vw;
        }
}
.dark_shame {
    color-scheme: dark;
}

#project-data-line {
    margin-bottom: 55px;
    margin-top: 10px;
}

.input-title {
    background-color: rgba(73, 80, 87, 0.4)!important;
    border: white;
    font-size: 1.75em;
    padding: 0.3rem;
    color: white;
    border-radius: 5px;
}


#carouselExampleControls,
.output,
.inputcode {
    background-color: #495057!important;
    color:white;
    border-radius: 5px;
    padding: 20px;
}

.inputcode{
    height: 400px;
    resize: none;
    white-space: nowrap;
}

.inputimg:focus,
.inputcode:focus {
    border-color: white;
    color:white;
}

#thumb_inp {
    display: none;
}

.custom-file-upload {
    background: rgba(73, 80, 87, 0.4);
    border: none;
    font-size: 1.4em;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


#save-btn {
    width: 100%;
    min-width: 160px!important;
    margin-right: 10vw;
}


@media (max-width: 445px) {
    header {
        justify-content: center!important;
    }

    #nav-right {
        margin-top: 20px;
    }
}


@media (max-width: 1000px) {
    .description-block {
            width: 100%;
        }

    form .col-sm-6, .col-sm-4, .col-sm-2 {
        min-width: 450px;
        width: 100%!important;
    }

    .margin_mobile {
        margin-top: 20px;
    }
    .supermargin_mobile{
        margin-top: 50px!important;
    }
}


.inputimg {
    background-color: #495057!important;
    color:white;
}

.carousel-inner {
    max-height: 100% !important;
}

.carousel-item {
    text-align: center;
}

.img-carousel {
    object-fit: contain;
    object-position: center;
    height: 350px;
    max-width: 90%;
    width: auto;
}

#preview-parent {
  display: flex;
}
.preview {
  display: flex;
  flex-direction: column;
  margin-left: 0.8rem;
  margin-right: 0.8rem;

}
.preview img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}