.dropdown-toggle {background: #146c43; border-color:#146c43}
.dropdown-toggle:hover {background: #105636; border-color:#105636}
.dropdown-toggle:focus {background: #105636; border-color:#105636}
.dropdown-item:focus {background: DimGray; color:white;}


/*.scroll-snap::-webkit-scrollbar {*/
/*      width: 0;*/
/*      height: 0;*/
/*}*/

header {
    position: sticky;
    top: 0;
    z-index: 2;
}

:root {
  --scrollbar-size: 10px;
}

::-webkit-scrollbar {
    left: 50px;
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #454b50;
    border-radius: 10px;
    left: 50px;
    direction: ltr;
}

::-webkit-scrollbar-corner {
    background: transparent;
    width: 0;
    height: 0;
    border: 16px solid transparent;
}


.index-section {
    scroll-snap-align: center none;
    scroll-snap-stop: always;
    scroll-margin: 40px;
    height: 90vh;
    margin-bottom: 5vh;
}

.last-section { margin-bottom: 0!important;}


#in_browser .container{
    height: 60vh;
}

 .examples .container.bg-body-tertiary {
    margin-top: -5vh!important;
    height: 75vh;
 }

 .examples-tabs button {
     margin-top: 5px;
 }

.btn-gray {
    background: #495057;
    --bs-btn-hover-bg: #3f4247;
    --bs-btn-active-bg: #33343a;
    color: white;
    border: none;
}

 .examples-tabs .active {
    --bs-btn-color: #fff;
    --bs-btn-bg: #198754;
    --bs-btn-border-color: #198754;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #157347;
    --bs-btn-hover-border-color: #146c43;
    --bs-btn-focus-shadow-rgb: 60,153,110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #146c43;
    --bs-btn-active-border-color: #13653f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #198754;
    --bs-btn-disabled-border-color: #198754;
}

.description-block p {
    text-align: left;
    min-width: 30vw;
}

.dark_shame {
    color-scheme: dark;
}

#project-data-line {
    margin-bottom: 55px;
    margin-top: 10px;
}

.input-title {
    background-color: rgba(73, 80, 87, 0.4)!important;
    border: white;
    font-size: 1.75em;
    padding: 0.3rem;
    color: white;
    border-radius: 5px;
}


#carouselExampleControls,
.output,
.inputcode {
    background-color: #495057!important;
    color:white;
    border-radius: 5px;
    padding: 20px;
}

.inputcode{
    height: 400px;
    resize: none;
    white-space: nowrap;
}

.inputimg:focus,
.inputcode:focus {
    border-color: white;
    color:white;
}

#thumb_inp {
    display: none;
}

.custom-file-upload {
    background: rgba(73, 80, 87, 0.4);
    border: none;
    font-size: 1.4em;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


#save-btn {
    width: 100%;
    min-width: 160px!important;
    margin-right: 10vw;
}


.inputimg {
    background-color: #495057!important;
    color:white;
}

.carousel-inner {
    max-height: 100% !important;
}

.carousel-item {
    text-align: center;
}

.img-carousel {
    object-fit: contain;
    object-position: center;
    height: 350px;
    max-width: 90%;
    width: auto;
}

#preview-parent {
  display: flex;
}
.preview {
  display: flex;
  flex-direction: column;
  margin-left: 0.8rem;
  margin-right: 0.8rem;

}
.preview img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}

.examples-tab-div-1{
    display: none!important;
}

.examples-tab-div-1.show{
    overflow: auto;
    height: 50vh!important;
    grid-gap: 16px!important;;
    display: grid!important;
}


.examples-tab-div {
    grid-gap: 16px;
    max-height: 100%;
    max-width: 100%;
}

.examples-data {
    max-width: 50vw;
    min-height: 20vh!important;
}

.examples-data h4{
    text-align: center;
    margin-bottom: 15px
}

.examples-data div a{
    white-space: pre!important;
}

.examples-data div {
    overflow: scroll;
    height: 80%;
}


.examples-data div::-webkit-scrollbar-thumb {
    background-color: #3f4247;
}

.examples-data .output {
    max-height: 35vh;
}

#enjoy-gaduka .bg-body-tertiary {
    overflow: scroll;
    height: 75%;
    margin-top: 40px;
}

#enjoy-gaduka .examples-data h4{
    text-align: center
}

#enjoy-gaduka .examples-data h4 a{
    height: 48px;
    width: 100%;
    --bs-btn-hover-bg: #157347;
    --bs-btn-active-bg: #0e5033;
}

#enjoy-gaduka .examples-data div{
    min-height: 30vh!important;
}

@media (min-width: 771px) {#examples-small {display: none!important;}  }

@media (max-width: 770px) {
    #examples-big {display: none!important;}

    .examples .container {
        padding: 1rem!important;
    }
    .examples div h1{
        padding: 1rem!important;
    }
    #v-pills-tabContent {
        margin: 0!important;
        padding: 0!important;
    }
}


@media (max-width: 445px) {
    header {
        justify-content: center!important;
    }

    #nav-right {
        margin-top: 20px;
    }
}

@media (max-width: 1000px) {
    #in_browser .description-block {
        width: 100%;
    }

    #in_browser .col-sm-5 {
        width: 100%;
    }

    #in_browser .container {
        height: 80vh;
    }

    #description .description-block {
            width: 100%;
    }

    form .col-sm-6, .col-sm-4, .col-sm-2 {
        min-width: 450px;
        width: 100%!important;
    }

    .margin_mobile {
        margin-top: 20px;
    }
    .supermargin_mobile{
        margin-top: 50px!important;
    }
}


@media (max-width: 568px) {
        /*.examples-tabs {*/
        /*    flex-direction: row!important;*/
        /*}*/
        .description-block p {
            text-align: center;
            min-width: 60vw;
        }
        .description-block h1 {
            text-align: center;
        }

        #description .gaduka_img_index {
            height: auto;
            width: 60vw;
        }

        #in_browser .gaduka_img_index {
            height: auto;
            width: 60vw;
        }
}


@media (max-height: 500px) {
    .index-section .bg-body-tertiary {
        padding: 0!important;
    }
    .description-block p {
        text-align: left;
        min-width: 60vw;
        font-size: 15px!important;
    }

    .description-block h1 {
        text-align: left;
        font-size: 25px!important;
    }

    #description .gaduka_img_index {
        height: 30vh;
        width: auto;
    }

    #in_browser .gaduka_img_index {
        height: 30vh;
        width: auto;
    }

    .examples {
        margin-top: -40px;
    }

    .examples .bg-body-tertiary{
        height: 70vh!important;
    }

    .examples .bg-body-tertiary{
        margin: 0.2rem!important;
    }

    .examples .bg-body-tertiary h1{
        font-size: 25px!important;
        margin: 0.2rem!important;
        padding: 0.2rem!important;
    }
}
